<div class="user-details">
    <div class="user-img col-xs-12 col-sm-5 col-md-4">
        <img class="fb-image-profile results thumbnail" src="{{user.avatar_url}}" alt="Avatar"/>
    </div>

    <div class="user-details col-xs-12 col-sm-7 col-md-8">
        <h2>Résultats pour «{{user.name}}»</h2>
            {{error}}
        <div>Nom: {{user.name}}</div>
        <div>Lieu: {{user.location}}</div>
        <div>Url: {{user.html_url}}</div>
    </div>

    <select class="selectpicker" ng-model="repoSortOrder">
        <option value="+name">Classer par nom</option>
        <option value="-stargazers_count">Classer par étoiles</option>
    </select>
</div>

<div class="backToSearch top"><a class="btn btn-default" href="#/main">Revenir à la recherche</a></div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Étoiles</th>
            <th>Language</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="repo in repos | orderBy:repoSortOrder">
            <td>{{repo.name}}</td>
            <td>{{repo.stargazers_count | number}}</td>
            <td>{{repo.language}}</td>
        </tr>
    </tbody>
</table>

<div class="backToSearch"><a class="btn btn-default" href="#/main">Revenir à la recherche</a></div>